.contact {
  border-top: 1px solid white;
}

.contact td {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

// .contact:nth-child(even) {
//   background-color: grey;
// }

.contact__connection {
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 10px;
  border: none;
  color: azure;
  min-width: 10rem;
}
.on {
  background-color: greenyellow;
  color: black;
}

.off {
  background-color: red;
}
